.DS_Store
O.*/
/AD*Kafka/db/
/AD*Kafka/lib/
/AD*Kafka/bin/
/AD*Kafka/dbd/
/AD*Kafka/include/
/AD*Kafka/builddir/
/AD*Kafka/iocs/AD*KafkaIOC/bin
/AD*Kafka/iocs/AD*KafkaIOC/dbd
/AD*Kafka/iocs/AD*KafkaIOC/iocBoot/iocAD*Kafka/envPaths
/AD*Kafka/iocs/AD*KafkaIOC/iocBoot/iocAD*Kafka/dllPath.bat
/AD*Kafka/iocs/AD*KafkaIOC/iocBoot/iocAD*Kafka/cdCommands

/build/
/KafkaInterface.xcodeproj/*
/documentation/*
